/* Your CSS code here. */
.container{
	
};
.header{
	background:rgb(229,229,229);
	padding:20px;
}
.navbar{
	padding:10px;
	background:rgb(0,0,0);
	color:rgb(255, 255, 255);
	
	a{
		color:white;
		text-decoration:none;
	}
}
main{
	display:flex;
	background:rgb(245, 245, 245);
	padding:20px;
}
.mainSection{
	padding:20px;
	background:rgb(245, 245, 245);
}
aside{
	padding:20px;
	background:rgb(211, 211, 211);
}
.footer{
	background:rgb(229, 229, 229);
	padding:20px;
}